POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
DB_NAME=

DB_HOST=
DB_PORT=
HOST_PORT=
NGINX_PORT=
SECRET_KEY=
DEBUG=


WEB_SERVER_IP=
LOCAL_SERVER_IP=
LOCAL_SERVER_NAME=
WEB_SERVER_NAME=
ALLOWED_HOSTS=